[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

httpx = "*"
beautifulsoup4 = "*"
tabula-py = {extras = ["jpype"], version = "*"}
camelot-py = {extras = ["base"], version = "*"}
pdfplumber = "*"

[dev-packages]

[requires]
python_version = "3.10"
